.header{
    height: 100%;
    margin-top: 120px;
    margin-block:200px;
    overflow: hidden;
}
.header .row .col h2,
.header .row .col p{
    margin-bottom: 30px;
}
.header .row .col h2{
    font-size: 40px;
}