
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  text-transform: capitalize !important;
  text-align: center;
  background-color: #A69180 !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
