.navbar {
    background-color: transparent !important;
    padding-top:20px ;
}

nav img {
    min-width: 100px;
    height: 100%;
}

.navbar .btn1{
    color: #2E186A;
    margin-left:15px ;
}

.navbar .btn1:hover {
    color: #FF825C;
    text-decoration: underline;
}